### ENV RELATED ###
DEBUG=True
ENV=local
DB_CONNECTION_STRING=postgresql://place_image:place_image@place-image-db:5432/place_image

### SENTRY ###
SENTRY_DSN=

### DATADOG ###
DD_TRACE_AGENT_HOSTNAME=datadog-cluster-agent.datadog-system
DD_TRACE_AGENT_PORT=8126

### USER UID (only for local environment) ###
UID=1000

### Settings for OpenID Connect (Keycloak), you can find the entries in vault ###
# You should use dev settings to login into your Django Admin in your local environment.
# Please set the role admin in Keycloak to gain superuser access.
PINCAMP_OIDC_CLIENT_ID=place-image-admin
PINCAMP_OIDC_CLIENT_SECRET=<your-client-secret>
PINCAMP_OIDC_REALM_URL=https://auth.dev.aws.pincamp.io/realms/pincamp_employees
PINCAMP_OIDC_ADMIN_ROLE=place_image_django_admin_user
