### ENV RELATED ###
DEBUG=True
ENV=local
DB_CONNECTION_STRING=postgresql://place_pictures:place_pictures@place-pictures-db:5432/place_pictures

### SENTRY ###
SENTRY_DSN=

### DATADOG ###
DD_TRACE_AGENT_HOSTNAME=datadog-cluster-agent.datadog-system
DD_TRACE_AGENT_PORT=8126

### USER UID (only for local environment) ###
UID=1000
